html, body {
  font-family: "Press Start 2P";
  margin: 0px;
  padding: 0px;
  height: 100%;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=),auto;
  overflow: hidden;
  position: relative;
}
body {
  background-image: url('./assets/avanut_BG.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container-fluid {
  z-index: 3;
  position: relative;
  height: 100%;
}

.ava {
  width: 100%;
  /*cursor: pointer;*/
}

/* effects */
#effect {
  z-index: 2;
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
}
.spotlight {
  z-index: 2;
  position: absolute;
  width: 200px;
  height: 200px;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 80%);
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: screen;
  animation: blink 0.1s infinite;
}
.spotlight.paused {
  animation-play-state: paused;
}
@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0.5;
  }
}

/* links */
.avarun {
  position: absolute;
  top: 10px;
  left: 0px;
}
.avarun img {
  width: 75px;
}
.links {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
}
.links img {
  width: 25px;
  margin-left: 5px;
}

/* bgm  */
.bgm {
  z-index: 5;
  position: fixed;
  right: 0px;
  bottom: 10px;
  width: 100px;
  background-color: #FFF;
  text-align: center;
  padding: 10px;
  border-radius: 20px 0px 0px 20px;
  /*cursor: pointer;*/
  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5);
}
.bgm img {
  width: 35px;
}
.compact img {
  margin-bottom: 10px;
}
.panel {
  bottom: 10px;
  width: 300px;
}
.panel .title {
  text-align: right;
}
.panel .sound {
  margin: 10px 0px;
}
.panel .track {
  border: 1px solid #000;
  margin-top: 10px;
}
.panel .active {
  text-decoration: underline;
}

/* credit */
.credit {
  z-index: 4;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 250px;
}

/* responsive */
@media (min-width: 600px) {
  .ava {
    width: 600px;
  }
  .avarun {
    left: 10px;
  }
  .avarun img {
    width: 150px;
  }
  .links {
    width: 120px;
  }
  .links img {
    width: 50px;
    margin-left: 10px;
  }
  .bgm {
    top: 40%;
    bottom: auto;
  }
  .panel {
    top: 35%;
    bottom: auto;
  }
}
